
html, body {
	font-family: Helvetica;
	
	margin: 0;
}

h1
{
  
    text-align: center;
    font-weight: 600;
    font-size: 110px;
    color: white;
}
h2
{
    color: #191919;
    font-size: 50px
}
p
{
    color: white;
    font-weight: 600;
	font-size: 30px;
    
}
/* Index/Home page */
html{
    background-color: #FAFAFA;
	
    scroll-snap-type: mandatory;                                                                                         
    scroll-snap-type: y mandatory;
    
    /*scroll-snap-points-y: repeat(10vh);*/
}
.titleIcon
{
  float: left;
  position: relative;
  bottom:400px;
  right: 100px;
  font-size: 50px;
  font-weight: 700;
  color: black; 
  text-decoration: none;
  padding:20;
}
section {
  padding: 1rem;
  height: 100vh;
  scroll-snap-align: start;
  text-align: center;
  position: relative;
}
.homeBox
{
 float: left;	
	
}
.homeText{
	margin: 0;
	
}
.homeContainer
{

}
.one 
{
   /* background-image: linear-gradient(to bottom, #3cbc8c 80%, #FAFAFA 100%);*/
  
  
background-color: #3cbc8c;

}

.two {
  
}

.three {
}

.four {
  
}
.contactContent
{
    width: 20%;
    height: 500px;
    border-radius: 25px;
    background-color: #3cbc8c;
    color: white;
    float:left;
    padding: 20px;
    margin: 20px; 
    padding-top: 90px;
	border: 1px solid #6BC1A1;
	
}
.contactContainer
{
  display: flex;
  justify-content: center;
}

/* Login Page*/
 .Logincontainer
{
    width: 65%;
    height: 100%;
	float: left;
	display: flex;
  	align-items: center;
  	justify-content: center;
	margin: 0;
	padding: 0;
}
.signUpContainer
{
    float: right;
    width: 35%;
    height: 100%;
    background-color: #3cbc8c;
	text-align: center;
	display: flex;
  	align-items: center;
  	justify-content: center;
	margin: 0;
	padding: 0;
	
	
	
}
.inputLogin
{
	border-radius: 20px;
	width: 50%;
	border: none;
	padding: 20px;
	background-color: #ECECEC;
	margin: 10px;
	font-weight: 500;
	align-content: center;
}
.loginButton
{
	width: 1%;
	border-radius: 20px;
	padding: 15px;
	background-color: #3cbc8c;
	margin: 10px;
    color: white;
	font-weight: 500;
}
.loginButton
{
	width: 50%;
	border-radius: 20px;
	padding: 15px;
	background-color: #3cbc8c;
	margin: 10px;
    color: white;
	font-weight: 500;
}
.signupButton
{
	width: 50%;
	border-radius: 20px;
	padding: 15px;
	background-color: white;
	margin: 10px;
    color: black;
	font-weight: 500;
}
.h1_Login
{
	
}
.h2_login
{
	color: white;
	font-size: 50px;
	fofont-weight: 600;
	
}
.p_sub
{
	
}
#loginPasswordBoxes{
  width: 90%;
  padding-top: 30px;
  margin: auto;

}
.right {
    float: left;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 59px;
}

#Regbutton
{
    text-align: center;
    align-content: center;
    display: block;
    width: 5%;
    outline: none;
    border: none;
    padding: 14px 28px;
    font-size: 16px;
    color:white;
    cursor: pointer;
    border-radius: 10px;
    top: 1%;
    right:5%;
    position: fixed;
    z-index: 10;
   
}
.homeLogin{
    width: 200px;
    margin: 0 auto;
    display: inline;
}

#Logbutton
{
    display: block;
    width: 5%;
    outline: none;
    border: none;
    padding: 14px 10px;
    font-size: 16px;
    color:white;
    cursor: pointer;
    border-radius: 10px;
    position:fixed;
    top: 1%;
    right:10%;
    z-index: 10;
   
}

#Regbutton:hover,#Logbutton:hover
{
    background-color:#4DC599;
    text-decoration: underline;
}
#Regbutton:active,#Logbutton:active
{
    background-color: #DBDBDB;
    transform: translateY(4px);
}


/*Login Verify Page*/
.loader
{
    margin:auto;
    bottom: 50%;
    left:auto;
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #3498db;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
@-webkit-keyframes spin 
{
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
  @keyframes spin 
{
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/*Registration Page*/
#regBox
{
    margin: auto;
    width: 90%;
    height: 90%;
    background-color: gray;
}
/*make the nav bar scale to phones*/

.navBar
  {
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    overflow: hidden;
    border-radius: 10px;
	margin-left: 20%
	
  }

/*Animating the button*/
#weight, #overallProgress, #home, #runInfo, #settings
{
    display: block;
    float: left;
    margin-right:00.5%;
    margin-left: 00.5%;
    outline: none;
    border: none;
    background-color: #3cbc8c;
    font-size: 16%;
    cursor: pointer;
    text-align: center;
    border-radius: 9px;
    box-shadow: 0 9px #999;
    width: 19%;
    max-height: 100%;
    height: auto;
}

#weight:active, #overallProgress:active, #home:active, #runInfo:active, #settings:active
{
  background-color: #4DC599;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#weight:hover, #overallProgress:hover, #home:hover, #runInfo:hover, #settings:hover
{
  background-color:#ccccff;
}

/*scaling Images*/
#weightButton, #progressbutton, #homeButton, #runButton, #settingsButton
{
  max-width: 100%;
    width: auto;
    max-height: 50px;
    height: 100%;
    
}
/*Home Page*/
.map {
    
    height: 40vh;
    width: 100%;
  }
.mapWrapper
{
	margin: 0;
	height: 40%;
	width: 100%;
}
.grid-container {
  display: grid;
  grid-template-rows: repeat(2, 50%);
  grid-template-columns: repeat(2, 50%);
  grid-gap: 1px;
  background-color: grey;
  height: fit-content;
  margin: 0px;

}

.grid-container > div {
  background-color: #3cbc8c;
  text-align: center;
  padding: 40px;
  font-size: 35px;
  font-weight: 700;
  color: white;
}
.statText
{
	color: #303030;
	font-size: 25px;
	display: block;
	
}

/*save button*/

#saveBtn
{
	color: white;
	background-color: #3cbc8c;
	margin: 0;
	padding: 20px;
	width: auto;
	border-radius: 20px;
	border: none;
	font-size: 30px;
	font-weight: 700;
	display: inline;
    vertical-align:middle;
  
}
#saveBtn:hover
{
  background-color:#ccccff;
}

#saveBtn:active
{
  background-color: #00b8e6;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
  
#History {
  border-collapse: collapse;
  width: 100%;
}

#History td, #History th {
  border: 1px solid #ddd;
  padding: 8px;
}
#History tr{
  font-size: 20px;
}
#History tr:nth-child(even){background-color:#E9E9E9;}

#History tr:hover {background-color: #ddd;}

#History th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #3cbc8c;
  color: white;
}
  
  
  /*Container with all the elements in the middle*/
 
  .controls {
    display: block;
    margin: 0px;
    padding: 0px;
    height: auto;
    overflow-y: hidden;
    overflow-x:auto;
    word-wrap:normal;
    white-space:nowrap; 
	text-align: center;
	  
  }
  .playPauseButtons
  {
	display: inline;
    margin: 0px;
    padding: 0px;
    vertical-align:middle;
    
  }
  .stopButtonDiv
  {
	display: inline;
    margin: 0px;
    padding: 0px;
    vertical-align:middle; 
  }
  .ResetButtonDiv
	{
    display: inline;
    margin: 0px;
    padding: 0px;
    vertical-align:middle;
   
	}
  
  button {
    cursor: pointer;
    background: transparent;
    padding: 0px;
    border: none;
    margin: 0px;
    outline: none;
  }
  
  #playButton {
    height: 100px;
    width: 100px;
  }

  #resetButton{
    height: 100px;
    width: 100px;
  }

  #stopButton{
    height: 100px;
    width: 100px;
	margin: 0;  
  }
/*setting page*/
  .Setting{
    
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 90%;
    left: auto;
    justify-content: center;
  }
  
/*
Animating the button */
  #buttonLogout,#buttonPrivacyrights,#buttonAccountdetails,#buttonAccessibility,#buttonTermsandconditions,#buttonHistory,#buttonDayNightmode,#buttonLanguage,#lanEnglish,#cSoon
{
    display: block;
    outline: none;
    border: none;
    background-color: #3cbc8c;
    font-size: 40px;
    cursor: pointer;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    width: 40%;
    
    height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    

}

#buttonLogout:active,#buttonPrivacyrights:active,#buttonAccountdetails:active,#buttonAccessibility:active,#buttonTermsandconditions:active,#buttonHistory:active,#buttonDayNightmode:active,#buttonLanguage:active,#lanEnglish:active,#cSoon:active
{
  background-color: #2C8A66;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#buttonLogout:hover,#buttonPrivacyrights:hover,#buttonAccountdetails:hover,#buttonAccessibility:hover,#buttonTermsandconditions:hover,#buttonHistory:hover,#buttonDayNightmode:hover,#buttonLanguage:hover,#lanEnglish:hover,#cSoon:hover
{
  background-color:#84D8B8;
}
.buttonContainer
{
  display: flex;
  justify-content: center;
  height: 20%;

}
/*Progress Page*/
.runInfoBody
{
  margin-top: 20px;
  background-color: green;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  padding-bottom: 15px;
  border-radius: 10px;
}
.runInfoButtons
{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: auto;
}
#prev,#next
{
    display: block;
    outline: none;
    border: none;
    background-color: #00b8e6;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    width: 40%;
}
#prev:active,#next:active
{
  background-color: #00b8e6;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#next:hover,#prev:hover
{
  background-color:#ccccff;
}
#columnchart_material
{
  width: 90%;
  height: 350px;
  margin: auto;
}
#next
{
  float: right;
}
#prev
{
  
  float: left;
}
#historyBtn
{
  width: 95%;
  display: block;
}
/* languagepage */
#languageBox
{
  display: flex;
  align-content: center;
  justify-content: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
/* Termsandconditionpage */
#tacBox,#privacyBox
{
  display: block;
  border-radius: 25px;
  background-color: rgb(187, 208, 201);
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}
#privacyBox
{
  margin-bottom: 80px;
}


/* accountdetails */
#AccountDetails
{
  display: block;
  width: 90%;
  text-align: center;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  
}

#Delete
{
  display: block;
  outline: none;
  border: none;
  background-color: #00b8e6;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  width: 180px;
  height: 40px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
#Delete:active
{
  background-color: #4CAF50;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#Delete:hover
{
  background-color:#ccccff;
}

/* RunInfo */
#guyPicture
{
  max-width: 208px;
  max-height: 465px;
  width: auto;
  height: auto;
}
#runInfoTop{
  
  margin: auto;
  align-content: center;
  display: flex;
  justify-content: space-evenly;
  max-width: 90%;
  max-height: 350px;
  width: auto;

  
}
#historyHeading
{
  text-align: center;
}
#runInfoBottom
{
  border-radius: 10px;
  margin: auto;
  width: 90%;
  margin-top: 10px;
  background-color: white;
  padding: 10px; 
}
#adviseSpan
{
  border: #0086b3;
  font-weight: bold;
  border-radius: 5px;
  background-color: lightblue;
}


/* login page style */

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
/* progress page */
