body
{
    
    margin: auto;
    background-image:url("Assets/Images/BackgroundImg.jpg");
    background-size:120%;
    background-size:fill;
    background-repeat:no-repeat;
    object-fit: scale-down;
    
}

h1
{
    text-align: center;
    color: white;
    text-emphasis-style: bold;
    
    

}
/* Login Page*/
#Regbutton
{
    display: block;
    width: 100%;
    outline: none;
    border: none;
    background-color: #4CAF50;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-bottom: 20px;
    position:fixed;
    bottom: 70px;
    right: 0;  
}

#Logbutton
{
    display: block;
    width: 100%;
    outline: none;
    border: none;
    background-color: #4CAF50;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-bottom: 20px;
    position:absolute;
    bottom:0;
    right: 0;
}

#Regbutton:hover,#Logbutton:hover
{
    background-color:bisque;
}
#Regbutton:active,#Logbutton:active
{
    background-color: #4CAF50;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


/*Login Verify Page*/
.loader
{
    margin:auto;
    bottom: 50%;
    left:auto;
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #3498db;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
@-webkit-keyframes spin 
{
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
  @keyframes spin 
{
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/*Registration Page*/
#regBox
{
    margin: auto;
    width: 90%;
    height: 90%;
    background-color: gray;
}
/*Settings Page*/
#settingsFooter
{
    display: block;
    margin: auto;
    position: fixed;
    bottom:0;
}

#blank, #overallProgress, #home, #runInfo, #settings
{
    display: inline-block; 
    position: relative;
    margin-top: 50%;
    left: 25%;
    background-color: rgb(236, 146, 11);
    color: white;
    outline: none;
    border: none;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    bottom: 0px;
    right: 0;
}
/*Home Page*/
.map {
    margin: auto;
    height: 400px;
    width: 90%;
  }
  /*Stopwatch*/
  .stopwatch {
    display: grid;
    justify-items: center;
    grid-row-gap: 23px;
    width: 100%;
    padding-top: 25px;
  }
  
  .circle {
    display: flex;
    justify-content: center;
    align-items: center;
  
    height: 100px;
    width: 100px;
  
    border: 2px solid;
    border-radius: 50%;
  }
  
  .time {
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
    font-size: 20px;
  }
  
  .controls {
    display: flex;
    justify-content: space-between;
  
    width: 187px;
  }
  
  button {
    cursor: pointer;
    background: transparent;
    padding: 0;
    border: none;
    margin: 0;
    outline: none;
  }
  
  #playButton {
    display: block;
  }
  
  #pauseButton {
    display: none;
  }